apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kafka-data-mimir-kafka-0
  namespace: mimir-test
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: efs-sc
  volumeMode: Filesystem
