apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: minio
  name: mimir-minio
  namespace: mimir-test
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: efs-sc
  volumeMode: Filesystem
