apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: storage-mimir-alertmanager-0
  namespace: mimir-test
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: efs-sc
  volumeMode: Filesystem
