apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: zoneawarepoddisruptionbudgets.rollout-operator.grafana.com
spec:
  group: rollout-operator.grafana.com
  names:
    kind: ZoneAwarePodDisruptionBudget
    listKind: ZoneAwarePodDisruptionBudgetList
    plural: zoneawarepoddisruptionbudgets
    singular: zoneawarepoddisruptionbudget
    shortNames:
    - zapdb
  scope: Namespaced
  versions:
  - name: v1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              maxUnavailable:
                x-kubernetes-int-or-string: true
              selector:
                type: object
                properties:
                  matchLabels:
                    type: object
                    additionalProperties:
                      type: string
          status:
            type: object
            x-kubernetes-preserve-unknown-fields: true
    subresources:
      status: {}
