# Grafana Datasource Provisioning
# Auto-configures Loki as a datasource

apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: true
    editable: false
